/* =========================
   LIGHT MODE (default)
========================= */
:root {
  --bg: #ffffff;
  --text: #111111;
  --subtext: #555555;

  --accent: #2e3a8c;
  --accent-soft: #e6e9ff;

  --card: #f5f5f5;
  --border: #dddddd;
}

/* =========================
   DARK MODE
========================= */
[data-theme="dark"] {
  --bg: #0e0e0e;
  --text: #ffffff;
  --subtext: #cfcfcf;

  --accent: #d1a954;
  --accent-soft: #2a220f;

  --card: #1a1a1a;
  --border: #2a2a2a;
}

/* =========================
   SYSTEM PREFERENCE
========================= */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0e0e0e;
    --text: #ffffff;
    --subtext: #cfcfcf;

    --accent: #d1a954;
    --accent-soft: #2a220f;

    --card: #1a1a1a;
    --border: #2a2a2a;
  }
}

